
@import "./navbar.css";

.sec1 {
    height: 5rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sec1-h {
    margin-left: 4rem;
    font-size: 2rem;
    font-weight: 100;
}

.add-btn {
    height: 1.5rem;
    width: 5rem;
    margin-right: 4rem;
}

.sec2 {
    width: 90%;
    height: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

.sec2-1 {
    width: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5rem;
}

.sec2-2 {
    width: 40rem;

}

.inp1 {
    width: 32rem;
    height: 2rem;
    background: #F3F3F3;
    border-radius: 0.5rem;
}

.form-item {
    margin-top: 0.7rem;
}

.form-item-location {
    margin-top: 0.7rem;
    margin-bottom: -2rem;
}

.inp2 {
    width: 32rem;
    height: 8rem;
    background: #F3F3F3;
    border-radius: 0.5rem;
}

.add_camp_pic {
    height: 25rem;
    width: 25rem;

    border-style: dashed;
}

.file_form {
    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 6rem;
    margin-bottom: 15rem;
}

.file {
    margin-top: 8rem;
    margin-left: 10rem;
}

.save {
    border: none;
    height: 1.5rem;
    width: 7rem;
    background: #D9D9D9;
    border-radius: 0.5rem;
}

.inp1 {
    padding-left: 0.7rem;
}

.inp2 {
    padding-left: 0.7rem;
    padding-top: 0.7rem;
}

.sec2-2 {
    width: 30%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.addBtn {
    height: 2.5rem;
    border: none;
    width: 6.5rem;
    background: #FFB4B4;
    border-radius: 0.5rem;
    margin-right:80rem;
    margin-top: -10rem;
}
/* .sec2-btn {
    height: 5rem;
    width: 5rem;
    margin-top: -10rem;
    margin-right:80rem;
} */



.labelLoc {
    margin-right: 29rem;
    margin-top: 20rem;
   
}

/* popup css */

*,
*::after,
*::before {
    box-sizing: border-box;
}

.pickLocation {
    height: 3rem;
    width: 5rem;
    background-color: #FFB4B4;
}

.modal {
    position: fixed;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 1000px;
    max-width: 80%;
    height: 800px;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* end of popup */

/* map css */
.map {
    height: 500px;
    width: 800px;
}