body {
    background-color: #f5f5f5;
    font-family: "Poppins";

}

.this {
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
}

.num {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}


.p {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;

    margin-top: 0rem;
    margin-bottom: 1rem;
    color: #000;
}

p.num {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: #b60b0b;

    margin-top: 0rem;
    margin-bottom: 0.2rem;
}



.b1 {
    width: 18rem;
    height: 18rem;
    background-color: #fff;
    border-radius: 2rem;
    margin: 0rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.b1:hover {
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.4);
    width: 19rem;
    height: 19rem;
}


.a1 {
    color: #000;
    text-decoration: none;
    padding-top: 1rem;
}






table {
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 3rem;

}

tr {
    border-radius: 3rem;

}

th,
td {
    text-align: center;
    padding: 0.6rem;
    border-bottom: 1px solid #ddd;

}

th {
    background-color: #f2f2f2;
    padding-left: 2rem;
    padding-right: 2rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
    border: 1px solid #B4B4B4;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}

div.table {
    display: flex;
    justify-content: center;

}

td.row1 {
    background-color: #8C95CB;
}

td.row2 {
    background-color: #A1A2FD;
}

td.row3 {
    background-color: #B6CBFA;
}

td.row4 {
    background-color: #CDF1FF;
}

a {
    text-decoration: none;
    color: #000;
}




.canarea {
    width: 1000px;
    height: 500px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px grey;

    padding: 1rem;
    border-radius: 1rem;
    margin: auto;
    text-align: center;
    /* background-color: lightgray; */
}


.upc{
    background:#FD9F9F;
    border-radius: 2rem;
    padding:0.2rem;
}






.main1 {
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content:space-around;
    /* margin-bottom: 2rem; */

}


/* left Side */
.left {
    width: 15%;
    /* height: 100%; */
    background-color: #FFCECE;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.2rem;

}

.b12{
    height: 2rem;

}

.b11 {
    width: 15rem;
    padding-left: 1rem;
    transition: 0.3s;
    cursor: pointer;

    display: flex;

}

/* .b11_1{
    border-radius: 1rem;
    background-color: #ffaaaa;
    width: 15rem;
    padding-left: 1rem;


} */

.pp{
    /* border-radius: 1rem; */
    background-color: #ffaaaa;
    width: 15.5rem;
    padding: 1rem;
    margin: 0rem;
}

.b11:hover {
    border-radius: 1rem;
    background-color: #ffaaaa;
    width: 16.5rem;

}

.a11 {
    color: #000;
    text-decoration: none;


}





/* right Side */
.right {
    width: 85%;
    height: 80rem;
    background-color: #fff;

}

