div.navbar {
    display: flex;
    height: 6rem;
    background-color: #FFD1D1;
    justify-content: space-between;
    /* box-shadow: 0px 3px 10px grey; */
}

div.nleft {

    margin-left: 1rem;

    display: flex;
    height: 6rem;
    align-items: center;
}

/* div.imge {
    display: flex;
    
    height: 6rem;
    width: 6rem;
    margin-left: 1.5rem;
}*/

img.logo {
    width: 5rem;
    margin-left: 2rem;
    margin-top: 1rem;
    align-items: center;
}

/*div.vbar {
    height: 6rem ;
}*/

div.blink {
    font-size: 2rem;
    font-weight: normal;
    font-family: "Poppins";
    padding: 0rem;
}

div.admin {
    margin-bottom: 10px;
}

div.nright {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.name {
    margin-right: 2rem;
    margin-bottom: 7px;
}

img.shut {
    width: 1.5rem;
    margin-right: 1rem;

}

div.camptitle {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vbar {
    border-left: 3px solid black;
    height: 4rem;
    padding-left: 1rem;

}

div.imge {
    padding-right: 1rem;


}


/* a:hover{
    font-size: 2.2rem;

} */



.h1 {
    font-size: 3rem;
    /* font-weight: normal; */
    font-family: "Poppins";
    padding: 0rem;
    text-align: center;
}


nav {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 3rem;
    background-color: #FFD1D1;
    font-size: 1.4rem;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    /* display: flex; */
}

li {
    margin: 0 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    /* text-align: center;  */
    /* width: 4rem; */
}

.a {
    color: #000000;
    text-decoration: none;
}

.a:hover{
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
}