body {
    background-color: #f5f5f5;
    font-family: "Poppins";

}

.h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-align: center;
}




form {
    width: 100rem;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.5rem;

}

label {
    display: inline-block;
    width: 17rem;
    margin-bottom: 10px;

}

.d2,
.d3 {
    display: flex;
    justify-content: space-between;

}

.Bname {
    width: 80rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #b1b1b1;
    border-radius: 0.6rem;

}


div.name {
    margin-right: 0rem;
}


.street-in {
    width: 80rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid #b1b1b1;
    border-radius: 0.6rem;
}


.d2-id,
.d2-tel,
.d3-no,
.d3-city {
    width: 28rem;
    margin-right: 1rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid #b1b1b1;
    border-radius: 0.6rem;
}

.loc {
    width: 80rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
    margin-left: 16.5rem;
}

.map-in {
    width: 50rem;
    height: 20rem;

    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #7e7e7e;
    margin-left: 16.5rem;
}

.map {
    text-align: center;
}


.add_bank {
    background-color: #FD9F9F;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;

    width: 10*rem;
    height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    
}

.add{
    text-decoration: none;
    
}

.add_bank:hover {
    background-color: #FFD1D1;
}