@import "./navbar.css";

.sec1{
    width: 80rem;
    display: flex;
    height: 10rem;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    

}
.sec1>h1{
    font-weight: 100;
    font-size: 1.8rem;
}
.sec2{
    width: 60%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:5rem;

}
.a{
    height: 4rem;
    width:12rem;
    background-color: #FFB4B4;
    margin-right: 0.2rem;
    padding: 0.6rem;
    border-radius: 0.6rem;
    text-align:center;

}
/* .a4{
    height: 4rem;
    width:12rem;
    background-color: #FFB4B4;
    margin-right: 0.2rem;
    padding: 0.6rem;
    border-radius: 0.6rem;
    text-align:center;
    padding-top: 0rem;
} */
.a1{
    height: 4rem;
    width:12rem;
    margin-right: 0.2rem;
    padding: 0.6rem;
    border-radius: 0.6rem;
    text-align:center;
    background-color: rgba(189, 0, 0, 0.65);
    

    font-size: larger;
}
.sec3-1{
    height: 5rem;
    width: 95%;
    /* margin-bottom: 7rem;   */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   

}
.sec3{
    height: 10rem;
    width: 90rem;
    /* margin-bottom: 7rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.sec3-h{
    
    font-size: 0.7rem;
    /* display: flex; */
    /* initial-letter: true; */
    margin-right: 70rem;
    width: 15rem;
    /* justify-content: flex-start; */
    text-decoration: underline
}
.sec3-cont{
    width: 60rem;
    margin-left: -15rem;
}
h1{
    width: 50rem;
}