@import "./navbar.css";

.heading{
margin-top: 2.5rem;
text-decoration: underline
}

.stats{
    height: 16rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 3rem;
}

.donatedNo{
    height: 8rem;
    margin-left: 3rem;

}
.donatedNo>h2{
    display: inline;
    font-size: 2.3rem;
}

.times{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 3.8rem;
    margin-bottom: -2.5rem;
    text-shadow: 10ch;
    
}
.dateLastD{
    color: rgb(9, 9, 9);
    font-size: 2.3rem;
    margin-bottom: -2.5rem;
    text-shadow: 2px;
}

.lastDonated{
    height: 8rem;
    margin-left: 3rem;
}
.card-row-1{
    display: flex;
    height: 26rem;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.achi{
    height: 19rem;
    width: 18rem;
    /* background-color: rgb(248, 248, 255); */
    border:8px solid #FF9292;
    /* border-color: red; */
    border-radius: 1.5rem;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}



.lock{
    object-fit: fill;
    position: absolute;
    margin-left: -2rem;
    height: 3rem;
    width: 3rem;
}

.locked-achi{
    border:8px solid #A8A8A8;
}

.a-img{
    height: 12rem;
    width: 12rem;
    background-color: aquamarine;
    border-radius: 50%;
    margin-top: 1rem;
}
.locked-img{
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    

}
.blackandw{
    filter: grayscale(100%);
}

.a-name{  
    height: 3rem;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}
.a-disc{
    height: 3rem;
    
}
.a-disc>p{
    margin-top: -0.6rem;
    text-align: center;
    font-size: 0.8rem;
}
