body {
    background-color: #f5f5f5;
    font-family: "Poppins";

}


form {
    width: 110rem;
    margin: 0 auto;
    /* padding: 20px; */
    font-size: 1.5rem;
}

label {
    display: inline-block;
    width: 9rem;
    margin-bottom: 15px;

}

.infor{
    display: inline-block;
    width: 32rem;
    margin-bottom: 2rem;
}

.close{
    margin-top: 1rem;
}





.Bname {
    width: 28rem;
    height: 2rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
    background-color: #f5f5f5;
    border: 1px solid #b1b1b1;
    border-radius: 0.6rem;
    background: #ffecec;

}


.street-in {
    width: 28rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid #b1b1b1;
    border-radius: 0.6rem;
    background: #ffecec;
}




.loc {
    width: 28rem;
    padding-top: 0rem;

    padding-right: 0.8rem;

    text-align: left;
    margin-right: 26rem;
}

.map-in {
    width: 55rem;
    height: 35rem;
    text-align: right;

    background: #ffecec;
    border-radius: 10px;
    border: 1px solid #7e7e7e;
    /* margin-left: 16.5rem; */
}

.map {
    text-align: center;
    width: 65rem;
}



.d{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    /* align-items: center; */
}
