html {
    font-family: "Poppins"
}

.main{
    height: 60rem;
    width :100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card{
    height: 35rem;
    width: 25rem;
    background: #FCDDDD;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin: 0;
    padding: 0;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
    margin: 0;
    padding: 0;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    margin: 0;
    padding: 0;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    margin: 0;
    padding: 0;
    content: '★ ';
}
.rate > input:checked ~ label {
    margin: 0;
    padding: 0;
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    margin: 0;
    padding: 0;
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    margin: 0;
    padding: 0;
    color: #c59b08;
}

.form{
    height: 32rem;
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.feedbacksec{
    width: 20rem;
}
.email{
    width: 20rem;
  
}
.emailclass{
    width: 20rem;
    height: 1.8rem;
    border:none;
    border-radius: 0.5rem;
    padding-left: 0.6rem;
}
.feedback{
    width: 20rem;
    height: 7rem;
    border:none;
    border-radius: 0.5rem;
    padding: 0.6rem;
}
.btn{
    height: 2rem;
    margin-top: 2rem;
    width: 6rem;
    border:none;
    border-radius: 0.5rem;
    background: #FF8E8E;
}