@import "./navbar.css";
.sec1{
    height: 15rem;
    width:100rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sec1-h{
    font-size: 2rem;
    margin-left: 10rem;
    font-style: normal;
    font-weight: 400;
    text-decoration:underline;
    
}
.sec2{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.sec2-1{
    width: 40%;
    height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sec2-2{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.s2Img{
    height:28rem;
    width: 28rem;
    background-color: rgb(105, 105, 105);
    border-radius: 1rem;
}
.s2Info{
    height: 35rem;
    width: 35rem;
}
.ftext{
    font-size: 1.6rem;
    font-weight: 900;

}