@import "./navbar.css";
.sec1{
    height: 15rem;
    width:100rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.div-a{
    height: 6rem;
    width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.sec1-h{
    font-size: 3rem;
    margin-left: 10rem;
    font-style: normal;
    font-weight: 400;
    text-decoration:underline;
    
}

.qrbtn{
    height: 2rem;
    width: 150px;
    background-color: #FF8080;
    margin-right: 5rem;
    text-align: center;
    padding-top: 1rem;
    border-radius: 1.5rem;
}
.sec2{
    margin-top: -6rem;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.sec2-1{
    width: 40%;
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.sec2-2{
    width: 60%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.s2Img{
    height:28rem;
    width: 28rem;
    background-color: rgb(105, 105, 105);
    border-radius: 1rem;
}
.s2Info{
    height: 35rem;
    width: 35rem;
    margin-left:7rem;
}


.ftext{
    font-size: 1.4rem;
    font-weight: bolder;

}
.sec2Desc{
    margin-top: -24rem;
    height: 35rem;
    width: 35rem;
    margin-left:7rem;
}
.vtext{
    font-size: 1.4rem;
    font-weight: 10;
    color: rgb(57, 57, 56);
}
.btn{
    
   margin-top: -55rem;
    background-color: #FF8080;
    border-radius: 2rem;
    height: 3.5rem;
    width: 11rem;
    font-size: 1.5rem;
    border:none;
   
}
.s2pic{
    height:28rem;
    width: 28rem;
    
    border-radius: 1rem;
}

