html {
    font-family: "Poppins"
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.remove_button {
    background-color: #ffff;
    border: none;
    color: #ff8477;
    text-decoration: underline;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
}



.heading {
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.profile {
   
    width: 60rem;
    border: 1px solid #ff8477;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    margin-bottom: 2rem;
    

}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

}






.save {
    height: 2.5rem;
    width: 9rem;
    background-color: #ffff;
    color: #ff8477;
    font-weight: bold;
    border: 1px solid #ff8477;
    border-radius: 1rem;
    margin-bottom: 1rem;
    /* box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem #7681BF; */


}

.change-pwd:hover {
    background-color: #f0ccc8;
    color: black;
    font-weight: bold;
    border: 1.5px solid #ff8477;

}

.save:hover {
    background-color: #F2F3F9;
    color: #7681BF;
    font-weight: bold;
    border: 1.5px solid #7681BF;

}
.change_pic{
    height:20rem;
    width:60%;
    background-color: #f0ccc8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 5rem;
    border:0.06rem solid #ff8477;
}
.file{
    display:none;
}
.file_label{
cursor: pointer;

}
.file_h{
background-color: #ffffff;
height:3rem;
width:10rem;
text-align: center;
border-radius: 0.8rem;
color: #ff8477;
display:flex;
flex-direction:row;
align-items: center;
justify-content:space-evenly;
margin-right: 0.3rem;
}
.file_form{
display: flex;
flex-direction: column;
align-items:center;
font-size:0.9rem;
}
.file_name{
max-width: 6rem;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis; 
}
.file_h:hover{
    background-color: #f0ccc8;
}
.visible{
    visibility: hidden;
}
.error 
{
    visibility: visible;
    color: #ff8477;
}
