

.heading{
margin-top: 2.5rem;
text-decoration: underline
}

.stats{
    height: 16rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    margin-left: 2rem;
}

.donatedNo{
    height: 5rem;
    margin-top: 1.5rem;
    display: flex;
    /* margin-left: 3rem; */

}
h2{
    font-size: 1.5rem;
    width: 19rem;
}
/* .donatedNo>h2{
    display: inline;
    font-size: 2.3rem;
} */

.times{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 3.8rem;
    margin-bottom: -2.5rem;
    text-shadow: 10ch;
    
}
.dateLastD{
    color: rgb(9, 9, 9);
    font-size: 2.3rem;
    margin-bottom: -2.5rem;
    text-shadow: 2px;
}

.boxi{
    height:40rem;
    display: flex;
    width: 35rem;
    position: absolute;
    left: 55rem;
    margin-top: 6rem;
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px grey;

}

body{
    /* background-color: #ff9f9f; */
    margin: 0;
    padding: 0;
    font-family: "Poppins";

}
