
@import "./navbar.css";
.sec1{
    width:90%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2{
    width: 90%;
    height: 7rem;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec3{
    height: 50rem;
    width: 50rem;
    border-radius: 1.5rem;
    background: rgba(217, 217, 217, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}
.contact-form{
    height: 40rem;
    width: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.formitem{
    width: 40rem;
}
.inp1{
    height: 2rem;
    width:40rem;
    border-radius: 0.7rem;
    border: none;
    padding-left: 1rem;
}
textarea{
    height: 10rem;
    width: 40rem;
    border-radius: 0.7rem;
    border:none;
    padding: 1rem;
}
.btn{
    height: 3rem;
    width: 8rem;
    border: none;
    

    border-radius: 0.7rem;
    background: #FF8E8E;

}