div.tbl{
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    /* margin-left: 4rem;
    margin-top: 1rem; */
    box-shadow: 0px 3px 10px grey;
    background-color: #ffffff;
    /* opacity: 90%; */
    /* overflow: hidden; */
    border-radius: 1rem;
    /* height: 27rem; */
    min-height: 40rem;

}


table {
    width:96%;
    margin:25px auto;
    border-collapse: collapse;
}

th {
    text-align:center;
    margin-bottom: 1.5rem;
    font-size:1.4rem;
}

tr{
    height: 2rem;
}
td {
    text-align:center;
    padding:5px;
}

tr.hov:hover{
    background-color: #efe8e8;
}

td.green{
    background-color: #00ff2a;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
    }





body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #e1dfdf;
    font-family: "Poppins";
    
}



div.section {
    display: flex;
    flex-direction: column;
}

div.camptitleimg {
    margin-top: 0.5rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}



div.campaignimg {
    font-size:2rem;
    font-weight: bolder;
    margin-left: 1rem;
}








.btn:hover {
    background-color:rgb(246, 41, 41);
    color:white;
}



a {
    text-decoration:none;
    color:black;
}

button.btn{
    height: 2rem;
    width: 6rem;
    border-radius: 0.7rem;
    margin-right: 2rem;
    border: none;
    background-color: #FD9F9F;
}








/* --------------Pagination-------- */

div.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.pagin{
    /* width: 2rem;
    height: 2rem; */
    margin: 1rem 1rem;
    /* background-color: #FFD1D1; */
}

button.pagebtn{
    font-family: "Poppins" !important;
    height: 2rem;
    width: 3rem;
    border-radius: 0.7rem;
    /* margin-right: 1rem; */
    border: none;
    background-color: #ff4d4d;
    color: #ffffff;

}

.pagebtn:hover {
    font-size: 1rem;
    box-shadow: 0px 3px 10px grey;

}



/* -------active div-----------*/

div.active{
    background-color: #e1dfdf;
    
}
div.actve{
    font-size: 1.6rem;

}


div.navlinks{
    width: 90%;
    margin-left: 4rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* overflow: hidden; */
    
}

div.tocheck,div.checked,div.rejected{
    width: 7rem;
    height: 3rem;
    /* box-shadow: 0px 3px 10px grey; */
    background-color: #ffffff;
    /* overflow: hidden; */
    border-radius: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.activenav{
    background-color: #fb7e7e;
    font-size: 1.2rem;
}






div.cont{
    text-align: center;
}


/* ----------------------------back arrow-------------------------- */
/* div.backarr{
    margin-top: 1rem;
    margin-left: 2.5rem;
 } */

 img.barr{
    padding-top: 0.5rem;
    height: 2rem;
    /* width: 2rem; */
 }


 /* ----------------------search bar------------------------------- */

 input{
    width: 15rem;
    height: 2rem;
    border-radius: 0.5rem;
    font-family:Poppins, FontAwesome;
    padding-left: 1rem;
}
form{
    width: 90%;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: right;
}

button.reset{
    font-family: "Poppins" !important;
    height: 2.3rem;
    width: 3rem;
    border-radius: 0.5rem;
    /* margin-right: 1rem; */
    border: none;
    background-color: #ff4d4d;
    color: #ffffff;
}

div.search{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

 








