@import "./navbar.css";
/* section 1 */


.section1 {
    width: 100%;
    height: 26rem;
    background-color: #F1F1F3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sec1-prof{
    display: flex;
    width: 18rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilepic {
    height: 13rem;
    width: 13rem;
    margin-right: 2rem;
    border-radius: 50%;
}

.section1-1-3,
.section1-1-2 {
   
    font-weight: 600;
    font-size: 2rem;
    margin-left: 5px;
    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.section1-1-3{
    text-align: center;
    font-size: 1.5rem;
}
.section1-1-1{
    
    width:14rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.backlogo{
    height: 25rem;
    width: 25rem;
    
}

.section1-1{
    margin-left: 15rem;
}
.section1-2{
    margin-right: 15rem;
}

/* .......................... */
/* section 2 */





.section2 {
    width: 62rem;
height: 60rem;
left: 10rem;
top: 40rem;
margin-top: -3.2rem;

background: rgba(255, 209, 209, 0.3);
backdrop-filter: blur(15.246px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 72px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;



}
.sec2form{
    display: flex;
    height: 50rem;
flex-direction: column;
justify-content: space-around;
}


.sec2f-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    height: 6rem;
    font-size: 1.3rem;
    text-align: left;
   
}
label{
    text-align: left;
    margin-left: 2rem;
}

.inputsec2{
    width: 30rem;
height: 2rem;
margin-top: 0.2rem;
margin-right: 5rem;
padding-left: 1rem;
font-family: inherit;
    font-size: 1.3rem;
background: #FECFCF;
border-radius: 10px;
font-weight: 0;
}
.inputsec2-1{
    width: 30rem;
height: 2rem;
margin-top: 0.2rem;
margin-right: 0.5rem;
padding-left: 1.2rem;
font-family: inherit;
    font-size: 1.3rem;
background: #FECFCF;
border-radius: 10px;
font-weight: 0;
}
.sec2f-1-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    width: 61rem;
    height: 5rem;
    text-align: left;
    
    
}

.editbtn{
    height: 2rem;
    width: 6rem;
    margin-right: 2rem;
    background: #FF8E8E;
border-radius: 72px;
}

.section1-1-1-btn{
    height: 2rem;
    width: 6rem;
    margin-right: 2rem;
    background: #FF8E8E;
border-radius: 72px;
border: none;

}