



/* section 1 */


html{
    font-family: Poppins;
}

.part1{
    height: 85rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    background-image:url(http://localhost:8888/Bloood%20Link%202/public//images/homebg.webp)
}


.sec1-1{
    width: 33rem;
height: 340px;
left: 189px;
top: 300px;
border-radius: 20px;
margin-left: 5rem;

background: rgba(255, 255, 255, 0.6);
backdrop-filter: blur(15px);
}

.sec1-2{
    width: 4rem;
    margin-top: 10px;
    margin-left: 3rem;
   
}
.bl-btn{
    margin-top: 10px;
    margin-left: 3rem;
    background-color: #FF8080;
    border-radius: 30px;
    height: 3.5rem;
    width: 12rem;
    border: none;
}
.sec1{
width: 100%;
height: 20rem;
left: 0px;
top: 115px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;

background: transparent;
}

/* section 2 */


.sec2{
    
    height: 35rem;
    width: 100%;
    background:transparent;
    display: flex;
    
    flex-direction: row;
    justify-content: space-around;
}

.subsec1{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subsec1-btm{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sec2-1{
    height: 29rem;
    width: 25rem;
    align-items: center;
    display: flex;

    
    flex-direction: column;
    justify-content: space-around;
   
    background: #B5B5B5;
    border-radius: 1rem;
    margin-bottom: 100px;

}


.sec2_btn {
    margin-top: 10px;
    border: none;
    background-color: #FF8080;
    border-radius: 25px;
    height: 65px;
    width: 15rem;
}

.sec2_h,.sec2_p{
    text-align: center;
}

.sec3{
    display: flex;
    flex-direction: row;
    height: 30rem;
    width: 100%;
    justify-content: space-around;
}
.sec3_1{
    height: 60rem;
    width: 45%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.sec3_1_2{
    width: 30rem;
}
.sec3_1_2>h1{
    font-size: 4rem;
    font-weight: bold;
    margin: 0px;
    margin-top: -4rem;
}
.sec3_1_2>button{
    margin-left: 8rem;
}
.heading-change-life{
    text-align: left;
    margin-left: 1rem;
}
.cont-donate{
    font-size: 3rem;
    text-align: left;
    margin-left: 1rem;
}
.sec3_1_1{
    height: 45rem;
    width: 35rem;
    background: #B5B5B5;
}
.sec3img{
    /* margin-left: 1rem; */
    height: 45rem;
    width: 35rem;
}
.newscontainer{
    height: 27.7rem;
    width: 25rem;
    position: absolute;
    z-index: 23;
    top: 7rem;
    right: 4rem;
    overflow: hidden;
    overflow-y: scroll;
    background: #fcfcfc;
    border-radius: 0.21rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card{
    height: 7rem;
    border: 2px solid #dadada;

    width: 22rem;
    border-radius: 0.4rem;
    background: #c9c5c5;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
.head{
    width: 14rem;
    height: 5rem;
    padding-left: 0.8rem;
    overflow: hidden;
}
.image,.imag{
    border-radius: 0.2rem;
    height: 5rem;
    width: 5rem;
    margin-right: 0.6rem;
    background: #B5B5B5;
}
.newshead{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    text-align: center;
}
.card:hover { 
    outline: none;
    border-color: #3679b0;
    box-shadow: 0 0 10px #9ecaed;
}
.carda{
    padding: 0;
    height: 6.5rem;
    margin: 0px;
    margin-bottom: 1.2rem;
}
