body {
    background-image: url("images/sign_back.png");
    background-color: #cccccc;
}
html{
    font-family: Poppins;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 684px;
    height: 909.18px;
    

}


.rectangle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 4rem;
   
    width: 34rem;
    height: 80rem;
    left: calc(50% - 724px/2 - 387px);
    top: calc(50% - 769.18px/2 + 56.09px);

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50.9423px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 45.1794px;
}



.logo-1 {
    width: 190px;
    height: 215px;
    
}




.welcome-back {
    font-size: 50px;
    font-weight: 700;
}

.input {
    border-radius: 15px;
    
    /* margin-bottom: 2rem; */
    height: 3.5rem;
    width: 25rem;
    border: none;
}
.in1{
    margin-top: 2rem;
}
em{
    margin-bottom: 1rem;
}

a{text-decoration: none;}
.login-button {
    margin-top: 10px;
    background-color: #FF8080;
    border-radius: 15px;
    height: 3.5rem;
    width: 400px;
    border: none;
}

.login-to-your-account {
    font-size: 20px;
}

.forget-password {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 300px;
}

.item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    padding-left: 1rem;
}





