div.tbl{
    width: 90%;
    margin-left: 4rem;
    margin-top: 2rem;
    box-shadow: 0px 3px 10px grey;
    background-color: #ffffff;

    border-radius: 1rem;
    height: 27rem;

}

table {
    width:96%;
    margin:25px auto;
}

th {
    text-align:center;
    margin-bottom: 1.5rem;
    font-size:1.4rem;
}
td {
    text-align:center;
    padding:5px;
}





body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #e1dfdf;
    font-family: "Poppins";
}



div.sidebar {
    background-color: #FD9F9F;          
    width: 15rem;
    height: 100vh;
    /* transition:  0.5s; */
    transition:  0.2s ;

    /* transition-property: left; */

    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

   /* display: flex;
    height: 1117px;
    width: 330px; */

}

div.exsdbar {
            
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15rem;
    transition: 0.2s;

   /* height: 173px;
   
    width: 1398px;*/

}

div.navbar {
    display: flex;
    height: 6rem;
    background-color: #FFD1D1;
    justify-content: space-between;
    box-shadow: 0px 3px 10px grey;
}

div.section {
    display: flex;
    flex-direction: column;
}

/* ---------------Chart Part only--------- */

div.sectionp0{
    margin-left: 1rem;
}

div.chtttl{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* div.sectionp1 {
    background-color: #cd1616; 
     height: 6rem;

} */

div.sectionp2 {
    background-color: #ffffff;
    /* height: 7rem; */
    display: flex;
    flex-direction: row;

}

div.sectionp21 {
    /* background-color: #ffffff; */
    /* height: 6rem; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

div.sectionp22 {
    /* background-color: #1e0dd8; */
    /* height: 6rem; */
    width: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

div.bscontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* div.bsloc{
    width: 100%;
    display: flex;
    padding-bottom: 0.5rem; 
    margin-left:23rem;
} */

div.bstock{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 1rem;
    align-items: center;
    margin-bottom: 2rem; 
    /* background-color: #FFD1D1; */
    justify-content: space-around;
}

div.iccon{
    display: flex;
    flex-direction: row;
    background-color: #968e8e;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1rem;

}

div.iconball1{
    width: 50%;
    background-color:#051367;
    border-radius: 1rem;

}

div.iconball2{
    width: 50%;
    background-color:#2D31FA;
    border-radius: 1rem;

}

div.iconball3{
    width: 50%;
    background-color:#5D8BF4;
    border-radius: 1rem;

}

div.iconball4{
    width: 50%;
    background-color:#90E0FF;
    border-radius: 1rem;

}

div.sectionp3 {
    /* background-color: #1bef1b; */
    /* height: 7rem; */
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

div.selectbb{
    padding-left: 10rem;
}

/* div.searchbut{
    padding-right: 10rem;
} */


/* -------------------Chart finished --------------*/








div.nleft {
    display: flex;
    height: 6rem;
    align-items: center;
}

/* div.imge {
    display: flex;
    
    height: 6rem;
    width: 6rem;
    margin-left: 1.5rem;
}*/

img.logo {
    width: 5rem;
    margin-left: 2rem;
    margin-top: 1rem;
    align-items: center;
}

/*div.vbar {
    height: 6rem ;
}*/

div.blink   {
    font-size: 2rem;
    font-weight: normal;
    font-family: "Poppins";
    padding: 0rem;
}

div.phi {
    margin-bottom: 10px;
}

div.nright {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.name {
    margin-right: 2rem;
    margin-bottom: 7px;
}

img.shut {
    width: 1.5rem;
    margin-right: 1rem;

}

div.camptitle {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.campaign {
    font-size:2rem;
    font-weight: bolder;
    margin-left: 3rem;
}

button.btn {
    font-family: "Poppins" !important;

    height: 2rem;
    width: 6rem;
    border-radius: 0.7rem;
    margin-right: 1rem;
    border: none;
    background-color: #FD9F9F;
    
}

button.btns {
    font-family: "Poppins" !important;

    height: 2rem;
    width: 6rem;
    border-radius: 0.7rem;
    margin-right: 2rem;
    border: none;
    background-color: #d6d6cd;
    
}

button.bdcvbtn{
    font-family: "Poppins" !important;

    height: 2rem;
    width: 3rem;
    border-radius: 0.7rem;
    /* margin-right: 1rem; */
    border: none;
    background-color: #FD9F9F; 
}



div.l1 {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}

div.l11,div.l12, div.l13,div.l14,div.l21 {
    display: flex;
    padding-left: 0.5rem;
    /* flex-direction: column; */
    margin-bottom: 1.5rem;
    align-items: center;
    height: 3rem;
    transition: background-color 0.5s ease;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

/* .l11:hover {
    background-color: red;
} */

div.das {
    font-size: 1.3rem;
}

div.das:hover {
    font-size: 1.6rem;
}

div.l14{
    height: 4rem;
}
/* other */

button

/* div.sidebar {
    width:14rem;
    height: 100vh;

} */

div.l1, div.l2 {
    padding-left:0.8rem
}

.blackline {
    /*position: absolute;*/
    left: 27.68rem;
    height: 4rem;
    width:2rem;
    display: flex;
    background-color: #000;
    border-radius: 10px;
    border: 0.2px solid #000000;
   /* transform: rotate(-90deg);*/
    align-items: center;
    padding-left:2px;
}

/* div.blinkphi {
    
} */

.vbar {
    border-left: 3px solid black;
    height:4rem;
    padding-left:1rem;

}

div.imge {
    padding-right:1rem;

}

.btn:hover {
    background-color:rgb(246, 41, 41);
    color:white;
}

div.upc {
    background:rgb(107, 246, 107);
    border-radius: 2rem;
    padding:5px;
}

div.ong {
    background:yellow;
    border-radius: 2rem;
    padding:5px;
}

div.rej {
    background:rgb(250, 114, 114);
    border-radius: 2rem;
    padding:5px;
}

div.l11,div.l12, div.l13,div.l14,div.l21 {
    align-items:center;
}

.dasimg, .ugimg, .bdimg, .blimg, .acimg {
    height:1.7rem;
    padding-top:2px;
}

div.das {
    padding-left:3px;
}

a {
    text-decoration:none;
    color:black;
}

a.fdetail {
    text-decoration:none;
    color:black;
}



/* ---------------Chart Parts only------------------------ */

div.canarea {
    width: 1000px;
    height: 500px;
    margin: auto;
    text-align: center;
    /* background-color: lightgray; */
  }


select.bbselect {
    height: 2rem;
    width: 6rem;
    border-radius: 0.7rem;
    
    border: #FD9F9F;
    background-color: #FD9F9F;
}

option.bbopt1{
    /* background-color: #e7dede; */
    display: none;

}

option.bbopt{
    background-color: #e7dede;
    

}

button.bbsearch{
    height: 2rem;
    width: 9rem;
    border-radius: 0.7rem;
    margin-right: 6rem;
    border: none;
    background-color: #FD9F9F;
}

/* --------------Pagination-------- */

div.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.pagin{
    /* width: 2rem;
    height: 2rem; */
    margin: 1rem 1rem;
    /* background-color: #FFD1D1; */
}

button.pagebtn{
    font-family: "Poppins" !important;
    height: 2rem;
    width: 3rem;
    border-radius: 0.7rem;
    /* margin-right: 1rem; */
    border: none;
    background-color: #ff4d4d;
    color: #ffffff;

}

.pagebtn:hover {
    font-size: 1rem;
    box-shadow: 0px 3px 10px grey;

}

.bdcvbtn:hover {
    font-size: 1rem;
    box-shadow: 0px 3px 10px grey;

}

/* -------active div-----------*/

div.active{
    background-color: #e1dfdf;
    
}
div.actve{
    font-size: 1.6rem;

}



a:hover{
    font-size: 1.2rem;

}


/* -----------view don blood----------- */

.prt{
    font-family: "Poppins" !important;
    height: 2rem;
    width: 9rem;
    border-radius: 0.7rem;
    /* margin-right: 6rem; */
    border: none;
    background-color: #FD9F9F;
}


/* -----------------hide side bar------------- */

label #sidebar_btn{
    z-index: 1;
    color: #000000;
    position: fixed;
    cursor: pointer;
    margin-top: 1.9rem;
    margin-left: 1rem;
    font-size: 2rem;
    
}

#check:checked ~ .sidebar{
    margin-left: -15rem;
    /* transform: translateX(-15rem); */
}



#check:checked ~ .exsdbar{
    margin-left: 0rem;


}

#check:checked ~ .nleft{
    margin-left: 4rem;
}



  