div.sidebar {
    background-color: #FD9F9F;          
    width: 15rem;
    height: 100vh;

    position: fixed;
   /* display: flex;
    height: 1117px;
    width: 330px; */

}

div.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

div.l1 {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}

div.l11,div.l12, div.l13,div.l14,div.l21 {
    display: flex;
    padding-left: 0.5rem;
    /* flex-direction: column; */
    margin-bottom: 1.5rem;
    align-items: center;
    height: 3rem;
    transition: background-color 0.5s ease;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

/* .l11:hover {
    background-color: red;
} */

div.das {
    font-size: 1.3rem;
}

div.das:hover {
    font-size: 1.6rem;
}

div.l14{
    height: 4rem;
}
/* other */

/* div.sidebar {
    width:14rem;
    height: 100vh;

} */

div.l1, div.l2 {
    padding-left:0.8rem
}



/* div.blinkphi {
    
} */







div.l11,div.l12, div.l13,div.l14,div.l21 {
    align-items:center;
}

.dasimg, .ugimg, .bdimg, .blimg, .acimg {
    height:1.7rem;
    padding-top:2px;
}

div.das {
    padding-left:3px;
}

a {
    text-decoration:none;
    color:black;
}

.chk{
    display: none;
    z-index: 4;
}