body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec1{
    margin-top: 6rem;
    width: 24rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.news-btn {

    /* margin-left: 31%; */
    width: 12rem;
    height: 3rem;
    border: none;
    background: #FFB4B4;
    border-radius: 0.3rem;
}

.posts-btn {
    /* margin-right: 38%; */
    width: 12rem;
    height: 3rem;
    border: none;
    background: #eeeaea;
    border-radius: 0.3rem;
}
.div1{
  
    display: flex; 
    flex-direction: row;
     width: 100rem;
    height: 30rem;
    /* background-color: aquamarine; */
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.box1{
    width: 45rem;
    height: 25rem;
    border-radius: 2rem;
    background-color: rgb(216, 212, 212);
    display: flex;
    
    flex-direction: column;
    align-items: space-between;
}

.box1-img{
    width: 45rem;
    height: 18rem;
}
.box2-img{
    width: 10rem;
    height: 18rem;
}
.box2-img>img{
    width: 30rem;
    height: 18rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}
.box1-img>img{
    width: 45rem;
    height: 18rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.box2{
    width: 30rem;
    height: 25rem;
    border-radius: 2rem;
    background-color: rgb(216, 212, 212);
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.div2{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
     width: 90rem;
    height: 30rem;
    /* background-color: bisque; */
}
.box3{
    background-color: rgb(216, 212, 212);
    display: flex;
    flex-direction: column;
    height:28rem;
    border-radius: 2rem;
    width: 25rem;
}

.b3-img{
    height: 20rem;
    width: 25rem;
    border-radius: 2rem;
}
.d2-img{
    height: 18rem;
    width: 25rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;


}