
.sec1{
    margin-top: 6rem;
    width: 24rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.news-btn {

    /* margin-left: 31%; */
    width: 12rem;
    height: 3rem;
    border: none;
    background: #eeeaea;
    border-radius: 0.3rem;
}

.posts-btn {
    /* margin-right: 38%; */
    width: 12rem;
    height: 3rem;
    border: none;
    background: #FFB4B4;
    border-radius: 0.3rem;
}
.sec2{
    display: flex;
    width:90rem;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
}
.post-btn {
    height: 2rem;
    width: 6rem;
    border-radius: 0.4rem;
    border: none;
    background: #FFB4B4;
}
.sec3{
    display: flex;
    margin-top: 4rem;
    height: 100%;
    width: 65rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}
.card{
    height: 18rem;
    width: 55rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:#FFFFFF;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.25));
}
.c-sec{
    height: 18rem;
    width: 38rem;
    /* background-color: #FFB4B4; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}
.c-img{
    width: 14rem;
    height: 14rem; 
    background-color:#D9D9D9 ;
    ;

}
.c-img img{
    width: 14rem;
    /* height: 14rem;  */
}
h1{
    height: 1.5rem;
}
.c-sec-h{
    margin-top: 1.7rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}