.sec1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    /* justify-content: flex-start; */
    

}
.sec1>h1{
    margin-left: 2rem;
}

.l3{
    height: 41rem;
    
}

.l4{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: end;
}

div.f .f1{
    height: 100%;
}


form{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 4rem;

}

.sec2{
    height: 100%;
    width: 90rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 6rem;
    margin-bottom: 4rem; */
   
}

.form-item{
    height: 4rem;
    width: 75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.form-item-c{
    height: 4rem;
    width: 75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.subform-item{
    height: 4rem;
    width: 37.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.label1{
    font-size: 1.5rem;
    width: 15rem;
}
.labels{
    font-size: 1.5rem;
    width: 5rem;
}
.labels1{
    font-size: 1.2rem;
    width: 25rem;
    /* text-align: center; */
    /* position: absolute;

    margin-right: 9.5rem; */

    
}
.labels2{

    font-size: 1.5rem;
    width: 5rem;
    margin-left: 7rem;
    
}
.inp1{
    width: 60rem;
    height: 2rem;
    padding-left:1rem;
    background: #F3F3F3;
    border-radius: 10px;
    border: none;
    /* text-align: center; */
    
}
.inps{
    width: 25rem;
    padding-left:1rem;
    height: 2rem;
    background: #F3F3F3;
    border-radius: 10px;
    border: none;
   
    
}
.location{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align: left; */
    height: 40rem;
    width: 65rem;
    display: flex;
}

.map{
    height: 35rem;
    width: 65rem;
    background: #F3F3F3;
    border-radius: 0.4rem;
}
.btn{
    height: 2.5rem;
    width: 7rem;
    background: #FF8E8E;
    border: none;
    margin-top: 0rem;
    /* margin-bottom: 1rem; */
    border-radius: 2rem;
}
.form-item,
.subform-item {
    margin-bottom: 0.1rem;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    position: relative;
    /* color: #b1b3b5; */
}




.subform-item label{
    display: inline-block;
    margin-bottom: 5px;
}

.subform-item input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;

}
.form-item i{
    visibility: hidden;
    top: 1.5rem;
    right: 1rem;
}
.subform-item i{
    visibility: hidden;
    top: 1.5rem;
    right: 1rem;
}
.subform-item small{
    visibility: hidden;
    bottom: 0;
    left: 15rem;
    width: 10rem;
    /* visibility: hidden; */
}

.form-item small{
    visibility: hidden;
    bottom: 0;
    left: 15rem;
    width: 10rem;
    /* visibility: hidden; */
}
.form-item.success input{
    border-color: #2ecc71;
}

.form-item.success error{
    border-color: #e74c3c;
}

.subform-item.success input{
    border-color: #2ecc71;
}

.form-item.success i.fa-circle-check{
    color: #2ecc71;
    visibility: visible;
}

.subform-item.success i.fa-circle-check{
    color: #2ecc71;
    visibility: visible;
}
.subform-item.error i.fa-circle-exclamation{
    color: #e74c3c;
    visibility: visible;
}


.form-item.success error{
    border-color: #e74c3c;
}



.subform-item.success error{
    border-color: #e74c3c;
}

.locationinp{
    height: 2rem;
    width: 10rem;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 0.7rem;
    padding-left: 0.9rem;
    border:none;
    margin-bottom: 10rem;
    /* text-align: center; */
}


div.l2 .wq{
    height: 20rem;
}











.l2 {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    width: 66rem;
    
}
.lable22{
    margin-bottom: 0.5rem;
}



.f {
    padding-bottom: 18px;
}

.input {
    border-radius: 15px;

    font-family: "Poppins";

    margin-bottom: 0.1rem;
    padding-left: 0.8rem;
    height: 2.5rem;
    width: 30rem;
    border: 0.025rem solid rgb(119, 119, 119);
    background-color: #ededed;
}

.qw{
    width: 65rem;
    
}

.sele{
    height: 3rem;
    font-size: 1rem;
    padding-right: 1rem;
    margin: 0rem;
    width: 21rem;
}

.btn-div {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-button {
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: #FF8080;
    border-radius: 15px;
    height: 55px;
    width: 350px;
    border: none;
    align-self: center;
}

.getting-started {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #0c0b0b;
}

.forget-password {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 300px;
}

.item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.small {
    width: 15.5rem;
}

.check {
    width: 5rem;
    height: 2rem;
}

.f.success>input {
    border: 0.2rem solid #4bc03c;
}

.f.error input {
    border: 0.2rem solid #fc432e;
}



input:focus {
    outline-color: #b1b3b5;
}

.f,
.f12 {
    margin-bottom: 0.1rem;
    position: relative;
    color: #000000;
    height: 50rem;

}

.f12>i {
    position: absolute;
    right: -2rem;
    top: 1.2rem;
    visibility: hidden;
}

.f12>small {
    position: absolute;
    /* left: 7rem;
    top: 2.3rem; */
    visibility: hidden;
}







.name,
.nic,
.city,
.f,
.f12 {
    display: flex;
    flex-direction: column;
    
}


a {
    text-decoration: none;
}



input:hover {
    border: 0.045rem solid #001ec5;
}

#register:hover {
    background-color: rgb(255, 255, 255);
    color: #98C03C;
}


.f>small {
    position: absolute;
    margin-top: 0.2rem;
    top: 5rem;
    left: 0.8rem;
    visibility: hidden;
}



::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b1b3b5;
    opacity: 1;
    /* Firefox */
}


.f.error small,
.f12.error small {
    visibility: visible;
    color: #ec4532;
}

.f.error .as{
    height: 39rem;
}


@media all and (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}