body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #e1dfdf;
    font-family: "Poppins";
    
}




div.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.boxrow{
    margin-top: 5rem;
    width: 70%;
    padding-bottom: 2rem;
    /* height: 10rem; */
    /* background-color: #6e2222; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

div.boxi{
    width: 35%;
    min-height: 7rem;
    box-shadow: 0px 3px 10px grey;
    background-color: #ffffff;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;

}
div.content{
    width: 90%;
    margin: auto;
}

table {
    width:96%;
    border-collapse: collapse;
}

th {
    text-align:center;
    
}
td {
    text-align:center;
    font-size: 1.2rem;
}

button{
    font-family: "Poppins" !important;
    transition: background-color 0.5s ease;


    height: 2rem;
    width: 6rem;
    border-radius: 0.7rem;
    border: none;
    background-color: #FD9F9F;
    
}

button:hover {
    background-color:rgb(246, 41, 41);
    color:white;
}

tr:hover{
    background-color: #efe8e8;
}

td.green{
    background-color: #00ff2a;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
    }


    div.boxrow2{
        margin-top: 5rem;
        width: 70%;
        padding-bottom: 2rem;
        /* height: 10rem; */
        /* background-color: #6e2222; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    
    }