@import "./navbar.css";

.sec1{
    width: 80rem;
    display: flex;
    height: 10rem;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    

}
.sec1>h1{
    font-weight: 100;
    font-size: 1.8rem;
}
.sec2{
    width: 60%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:5rem;

}
.a{
    height: 4rem;
    width:12rem;
    background-color: #FFB4B4;
    margin-right: 0.2rem;
    padding: 0.6rem;
    border-radius: 0.6rem;
    text-align:center;

}
.a4{
    height: 4rem;
    width:12rem;
    background-color: #FFB4B4;
    margin-right: 0.2rem;
    padding: 0.6rem;
    border-radius: 0.6rem;
    text-align:center;
    padding-top: 0rem;
}
.a1{
    height: 4rem;
    width:12rem;
    margin-right: 0.2rem;
    padding: 0.6rem;
    border-radius: 0.6rem;
    text-align:center;
    background-color: rgba(189, 0, 0, 0.65);
    

    font-size: larger;
}
.sec3{
    height: 25rem;
    width: 95%;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   

}
.sec3-h{
    margin-bottom: 2rem;
    margin-right: 35rem;
    margin-left: -20rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-start;
    text-decoration: underline
}

.sec3-1{
    height: 20rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.sec3-1-i{
    height: 20rem;
    background-color: #c2c0c0;
    width:23rem;
    margin-right: 15rem;

    border-radius: 1rem;
}
.sec3-1-d{
    height: 20rem;
    width: 40rem;
}

.bullet{
    
    color: #1c1c1c;
}
.bullet>.bold{
    color: black;
    font:bolder;
    
    font-weight: 900;
}